.editor {
  border: 1px solid #cbd5e0;
  background-color: #f7fafc;
  cursor: text;
  padding: 16px;
  border-radius: 5px;
  margin: 1rem 0;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
  max-height: 600px;
  overflow: auto;
}

.hidePlaceholder :global(.public-DraftEditorPlaceholder-inner) {
  display: none;
}

.h1 {
  font-size: 2.5rem;
}

.h2 {
  font-size: 2rem;
}

.h3 {
  font-size: 1.5rem;
}

.blockquote {
  margin-left: 1rem;
  padding-left: 0.5rem;
  border-left: 2px solid lightgray;
}

.pre {
  background-color: black;
  color: white;
}

.error {
  border: 1px solid #f56565;
}

.options {
  margin-bottom: 20px;
}
