.editor {
  border: 1px solid #ddd;
  background-color: rgb(247, 250, 252);
  cursor: text;
  padding: 16px;
  border-radius: 5px;
  margin-bottom: 2em;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}

.options {
  margin-bottom: 20px;
}
