@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-ease {
  transition: all 0.3s ease-in-out;
}

.translate-x-0 {
  transform: translateX(0);
}

.-translate-x-full {
  transform: translateX(-100%);
}
